.user_icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.marginL10 {
  margin-left: 10px;
}

.marginR10 {
  margin-right: 10px;
}

.notePlaceIcon {
  width:45px;
  height: 45px;
  float: left;
  margin-right: 10px;
}

.notePlace-header-space {
  height: 55px;
}