.notePlace-user-icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-color: white;
}

.marginL10 {
  margin-left: 10px;
}

.marginR10 {
  margin-right: 10px;
}

.notePlace-icon {
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 10px;
}

.notePlace-header-space {
  height: 55px;
}